pygame # pygame, duh

PyOpenGL # openGL support
PyOpenGL_accelerate # C bindings for openGL, improves performance
pywavefront # helps loading 3D models

pyglet # used by pywavefront for it's "visualization module"
py # used for rendering textures

numpy # numpy, used to improve performance